# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Node
node_modules/
frontend/dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Antigravity
.antigravity
.gemini/

# Redis
redis_portable/*.rdb
